/* TODO: p1010027.jpg appears also in renderGallery.js--remove duplicate */
#hero {
    height: 90vh;
    background-size: contain;
    background-image: url('../img3/P1010027.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#text-box h1 {
    display: block;
    font-size: 12vw;
    font-weight: 400;
    letter-spacing: 1vw;
    text-align: center;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
 
#text-box h2 {
    display:block;
    font-size: 2vw;
    /* font-weight: 700; */
    /* letter-spacing: .4rem;  */
    text-align: center;
    animation: moveInRight 1s ease-out;
}




@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translate(10px);
    }

    100% {
        opacity:1;
        transform: translate(0);
    }
}


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translate(-10px);
    }

    100% {
        opacity:1;
        transform: translate(0);
    }
}